$font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// Media queries.
$xsmall: 'max-width: 600px';
$small: 'max-width: 960px';

// Color palette.
$blue: #62a7be;
$brightred: #dd0031;
$darkred: #c3002f;
$white: #ffffff;
$offwhite: #fafafa;
$backgroundgray: #fafafa;
$lightgray: #dbdbdb;
$mist: #eceff1;
$mediumgray: #6e6e6e;
$darkgray: #333;
$black: #0a1014;
$orange: #ff9800;
